@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/layoutgrid"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Layout Grid</PageTitle>

<h1>Layout Grid</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="layout-grid-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.LayoutGrid.LayoutGrid Id="layout-grid-basic">
            <SiemensIXBlazor.Components.LayoutGrid.Row>
                <SiemensIXBlazor.Components.LayoutGrid.Col>
                    <SiemensIXBlazor.Components.Typography Format="Enums.Typography.TypographyFormat.Display">
                        1
                    </SiemensIXBlazor.Components.Typography>
                    <SiemensIXBlazor.Components.Typography Format="Enums.Typography.TypographyFormat.Display">
                        2
                    </SiemensIXBlazor.Components.Typography>
                    <SiemensIXBlazor.Components.Typography Format="Enums.Typography.TypographyFormat.Display">
                        3
                    </SiemensIXBlazor.Components.Typography>
                    <SiemensIXBlazor.Components.Typography Format="Enums.Typography.TypographyFormat.Display">
                        4
                    </SiemensIXBlazor.Components.Typography>
                    <SiemensIXBlazor.Components.Typography Format="Enums.Typography.TypographyFormat.Display">
                        5
                    </SiemensIXBlazor.Components.Typography>
                    <SiemensIXBlazor.Components.Typography Format="Enums.Typography.TypographyFormat.Display">
                        6
                    </SiemensIXBlazor.Components.Typography>
                </SiemensIXBlazor.Components.LayoutGrid.Col>
            </SiemensIXBlazor.Components.LayoutGrid.Row>
        </SiemensIXBlazor.Components.LayoutGrid.LayoutGrid>
    </ComponentContent>
</PlaygroundBase>
