@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/expandingsearch"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Expanding Search</PageTitle>

<h1>Expanding Search</h1>


<PlaygroundBase Id="basic" ComponentType="Basic" TabId="expanding-search-basic" CodeContent="@CodeContent">
    <ComponentContent>
        <SiemensIXBlazor.Components.ExpandingSearch Id="expanding-search-basic">
        </SiemensIXBlazor.Components.ExpandingSearch>
    </ComponentContent>
</PlaygroundBase>