@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/datetimepicker"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Date Time Picker</PageTitle>

<h1>Date Time Picker</h1>


<PlaygroundBase Id="basic" ComponentType="Basic" TabId="datetime-picker-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.DateTimePicker Id="datetime-picker-basic">
        </SiemensIXBlazor.Components.DateTimePicker>
    </ComponentContent>
</PlaygroundBase>