@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/application"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Application</PageTitle>

<h1>Application</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Application Id="basic-app">
            <SiemensIXBlazor.Components.ApplicationHeader Id="basic-app-header" Name="My Application">
                <div className="placeholder-logo" slot="logo"></div>
            </SiemensIXBlazor.Components.ApplicationHeader>

            <SiemensIXBlazor.Components.Menu.Menu Id="basic-app-menu">
                <SiemensIXBlazor.Components.Menu.MenuItem id="basic-app-menu-item-1">
                    Item 1
                </SiemensIXBlazor.Components.Menu.MenuItem>
                <SiemensIXBlazor.Components.Menu.MenuItem id="basic-app-menu-item-2">
                    Item 2
                </SiemensIXBlazor.Components.Menu.MenuItem>
            </SiemensIXBlazor.Components.Menu.Menu>

            <SiemensIXBlazor.Components.Content Id="basic-app-content">
                <SiemensIXBlazor.Components.ContentHeader Id="basic-app-content-header" slot="header" HeaderTitle="My Content Page">
                </SiemensIXBlazor.Components.ContentHeader>
            </SiemensIXBlazor.Components.Content>
        </SiemensIXBlazor.Components.Application>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="breakpoints" ComponentType="Breakpoints" TabId="breakpoints" CodeContent="ContentForBreakpoints">
    <ComponentContent>
        <div class="ix-application-header">
        <SiemensIXBlazor.Components.Application Id="bp-application"ForceBreakpoint="Enums.ForceBreakpoint.sm">
                <SiemensIXBlazor.Components.ApplicationHeader Id="bp-app-header" Name="My Application">
                    <div class="placeholder-logo" slot="logo"></div>

                    <SiemensIXBlazor.Components.DropdownButton Id="bp-dropdown-button" Variant="SiemensIXBlazor.Enums.Button.ButtonVariant.secondary" Label="Select config" Ghost="true">
                        <SiemensIXBlazor.Components.DropdownItem Id="dropdown-item-1" Label="Config 1"></SiemensIXBlazor.Components.DropdownItem>
                        <SiemensIXBlazor.Components.DropdownItem Id="dropdown-item-2" Label="Config 2"></SiemensIXBlazor.Components.DropdownItem>
                        <SiemensIXBlazor.Components.DropdownItem Id="dropdown-item-3" Label="Config 3"></SiemensIXBlazor.Components.DropdownItem>
                    </SiemensIXBlazor.Components.DropdownButton>

                    <SiemensIXBlazor.Components.Avatar.Avatar id="bp-app-avatar">
                        <SiemensIXBlazor.Components.DropdownItem Id="avatar-dropdown-item-1" Label="Action 1"></SiemensIXBlazor.Components.DropdownItem>
                        <SiemensIXBlazor.Components.DropdownItem Id="avatar-dropdown-item-2" Label="Action 2"></SiemensIXBlazor.Components.DropdownItem>
                        <SiemensIXBlazor.Components.DropdownItem Id="avatar-dropdown-item-3" Label="Action 3"></SiemensIXBlazor.Components.DropdownItem>
                    </SiemensIXBlazor.Components.Avatar.Avatar>
                </SiemensIXBlazor.Components.ApplicationHeader>
            

            <SiemensIXBlazor.Components.Menu.Menu Id="bp-menu">
                <SiemensIXBlazor.Components.Menu.MenuItem Id="bp-menu-item-1"> Item 1</SiemensIXBlazor.Components.Menu.MenuItem>
                <SiemensIXBlazor.Components.Menu.MenuItem Id="bp-menu-item-2"> Item 2</SiemensIXBlazor.Components.Menu.MenuItem>
            </SiemensIXBlazor.Components.Menu.Menu>
            <SiemensIXBlazor.Components.Content Id="bp-content">
                <SiemensIXBlazor.Components.ContentHeader Id="bp-content-header" HeaderTitle="Choose breakpoint"></SiemensIXBlazor.Components.ContentHeader>
                
                <input class="ix-form-control"
                       id="small"
                       type="radio"
                       name="layout"
                       value="sm"
                       checked="@IsChecked("sm")"
                       @onchange='() => SetBreakpoint("sm")' />
                <label class="ix-form-label" for="small">Small</label>

                <input class="ix-form-control"
                       id="medium"
                       type="radio"
                       name="layout"
                       value="md"
                       checked="@IsChecked("md")"
                       @onchange='() => SetBreakpoint("md")' />
                <label class="ix-form-label" for="medium">Medium</label>

                <input class="ix-form-control"
                       id="large"
                       type="radio"
                       name="layout"
                       value="lg"
                       checked='@IsChecked("lg")'
                       @onchange='() => SetBreakpoint("lg")' />
                <label class="ix-form-label" for="large">Large</label>
            </SiemensIXBlazor.Components.Content>
        </SiemensIXBlazor.Components.Application>
        </div>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="application-switch" ComponentType="Application switch" TabId="application-switch" CodeContent="ContentForApplicationSwitch">
    <ComponentContent>
        <SiemensIXBlazor.Components.Application Id="app-switch" @ref="_app">
            <SiemensIXBlazor.Components.ApplicationHeader Id="app-header-switch" Name="Calculator App">
                <div className="placeholder-logo" slot="logo"></div>

                <SiemensIXBlazor.Components.DropdownButton Id="app-switch-dropdown-button" Variant="SiemensIXBlazor.Enums.Button.ButtonVariant.secondary" Label="Select config" Ghost="true">
                    <SiemensIXBlazor.Components.DropdownItem Id="app-switch-dropdown-item-1" Label="Config 1"></SiemensIXBlazor.Components.DropdownItem>
                    <SiemensIXBlazor.Components.DropdownItem Id="app-switch-dropdown-item-2" Label="Config 2"></SiemensIXBlazor.Components.DropdownItem>
                    <SiemensIXBlazor.Components.DropdownItem Id="app-switch-dropdown-item-3" Label="Config 3"></SiemensIXBlazor.Components.DropdownItem>
                </SiemensIXBlazor.Components.DropdownButton>

                 <SiemensIXBlazor.Components.Avatar.Avatar id="app-switch-avatar">
                    <SiemensIXBlazor.Components.DropdownItem Id="app-switch-avatar-dropdown-item-1" Label="Action 1"></SiemensIXBlazor.Components.DropdownItem>
                    <SiemensIXBlazor.Components.DropdownItem Id="app-switch-avatar-dropdown-item-2" Label="Action 2"></SiemensIXBlazor.Components.DropdownItem>
                    <SiemensIXBlazor.Components.DropdownItem Id="app-switch-avatar-dropdown-item-3" Label="Action 3"></SiemensIXBlazor.Components.DropdownItem>
                </SiemensIXBlazor.Components.Avatar.Avatar>

            </SiemensIXBlazor.Components.ApplicationHeader>
            <SiemensIXBlazor.Components.Menu.Menu Id="app-switch-menu">
                <SiemensIXBlazor.Components.Menu.MenuItem Id="app-switch-menu-item-1"> Item 1</SiemensIXBlazor.Components.Menu.MenuItem>
                <SiemensIXBlazor.Components.Menu.MenuItem Id="app-switch-menu-item-2"> Item 2</SiemensIXBlazor.Components.Menu.MenuItem>
            </SiemensIXBlazor.Components.Menu.Menu>

            <SiemensIXBlazor.Components.Content Id="app-switch-content">
                <SiemensIXBlazor.Components.ContentHeader Id="app-switch-content-header" slot="header" HeaderTitle="My Content Page">

                </SiemensIXBlazor.Components.ContentHeader>
            </SiemensIXBlazor.Components.Content>
        </SiemensIXBlazor.Components.Application>
    </ComponentContent>
</PlaygroundBase>