@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/dropdownbutton"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Dropdown Button</PageTitle>

<h1>Dropdown Button</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="dropdown-button-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.DropdownButton Id="dropdown-button-basic" Icon="Checkboxes" Label="Dropdown">
            <SiemensIXBlazor.Components.DropdownItem Label="Item 1" Value="1">
            </SiemensIXBlazor.Components.DropdownItem>

            <SiemensIXBlazor.Components.DropdownItem Label="Item 2" Value="2">
            </SiemensIXBlazor.Components.DropdownItem>
        </SiemensIXBlazor.Components.DropdownButton>

        <SiemensIXBlazor.Components.DropdownButton Id="dropdown-outline-button-basic"
                                                   Outline Icon="Checkboxes" Label="Dropdown">

            <SiemensIXBlazor.Components.DropdownItem Label="Item 1" Value="1">
            </SiemensIXBlazor.Components.DropdownItem>

            <SiemensIXBlazor.Components.DropdownItem Label="Item 2" Value="2">
            </SiemensIXBlazor.Components.DropdownItem>

        </SiemensIXBlazor.Components.DropdownButton>

        <SiemensIXBlazor.Components.DropdownButton Id="dropdown-ghost-button-basic"
                                                   Ghost Icon="Checkboxes" Label="Dropdown">

            <SiemensIXBlazor.Components.DropdownItem Label="Item 1" Value="1">
            </SiemensIXBlazor.Components.DropdownItem>

            <SiemensIXBlazor.Components.DropdownItem Label="Item 2" Value="2">
            </SiemensIXBlazor.Components.DropdownItem>

        </SiemensIXBlazor.Components.DropdownButton>

        <SiemensIXBlazor.Components.DropdownButton Id="dropdown-disabled-button-basic"
                                                   Disabled Icon="Checkboxes" Label="Dropdown">
        </SiemensIXBlazor.Components.DropdownButton>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="icon" ComponentType="Icon" TabId="dropdown-button-icon" CodeContent="@ContentForIcon">
    <ComponentContent>
        <SiemensIXBlazor.Components.DropdownButton Id="dropdown-button-icon" Icon="Checkboxes" Label="">
            <SiemensIXBlazor.Components.DropdownItem Label="Item 1" Value="1">
            </SiemensIXBlazor.Components.DropdownItem>

            <SiemensIXBlazor.Components.DropdownItem Label="Item 2" Value="2">
            </SiemensIXBlazor.Components.DropdownItem>
        </SiemensIXBlazor.Components.DropdownButton>

        <SiemensIXBlazor.Components.DropdownButton Id="dropdown-outline-button-icon"
                                                   Outline Icon="Checkboxes" Label="">

            <SiemensIXBlazor.Components.DropdownItem Label="Item 1" Value="1">
            </SiemensIXBlazor.Components.DropdownItem>

            <SiemensIXBlazor.Components.DropdownItem Label="Item 2" Value="2">
            </SiemensIXBlazor.Components.DropdownItem>

        </SiemensIXBlazor.Components.DropdownButton>

        <SiemensIXBlazor.Components.DropdownButton Id="dropdown-ghost-button-icon"
                                                   Ghost Icon="Checkboxes" Label="">

            <SiemensIXBlazor.Components.DropdownItem Label="Item 1" Value="1">
            </SiemensIXBlazor.Components.DropdownItem>

            <SiemensIXBlazor.Components.DropdownItem Label="Item 2" Value="2">
            </SiemensIXBlazor.Components.DropdownItem>

        </SiemensIXBlazor.Components.DropdownButton>

        <SiemensIXBlazor.Components.DropdownButton Id="dropdown-disabled-button-icon"
                                                   Disabled Icon="Checkboxes" Label="">
        </SiemensIXBlazor.Components.DropdownButton>
    </ComponentContent>
</PlaygroundBase>