@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/piechart"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;


<PageTitle>Pie Chart</PageTitle>

<h1>Pie Chart</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <div class="pie-chart">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="basic-pie-chart" @ref="piechart">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="donut" ComponentType="Donut charts" TabId="donut" CodeContent="@ContentForDonutCharts">
    <ComponentContent>
        <div class="pie-chart">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="donut-pie-chart" @ref="donutchart">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>