@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/datedropdown"
@using SiemensIXBlazor.Components;
@using SiemensIXBlazor.Playground.Shared.CodeHighlighter
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase

<PageTitle>Date Dropdown</PageTitle>

<h1>Date Dropdown</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="date-dropdown-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.DateDropdown Id="datedropdown-basic"></SiemensIXBlazor.Components.DateDropdown>
    </ComponentContent>
</PlaygroundBase>


<PlaygroundBase Id="dropdown-component" ComponentType="With user defined range options" TabId="date-dropdown-defined"
    CodeContent="@ContentForDefinedDate">
    <ComponentContent>
        <SiemensIXBlazor.Components.DateDropdown Id="ix-datedropdown-defined-date" DateRangeId="last-7" Format="MM/dd/yyyy"
            DateRangeOptions="_dateRangeOptions" DateRangeChangeEvent="Callback">
        </SiemensIXBlazor.Components.DateDropdown>
    </ComponentContent>
</PlaygroundBase>