@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/upload"
@using SiemensIXBlazor.Components;
@using SiemensIXBlazor.Playground.Shared.CodeHighlighter
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase

<PageTitle>Upload</PageTitle>

<h1>Upload</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="upload-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Upload Id="upload-basic">
        </SiemensIXBlazor.Components.Upload>
    </ComponentContent>
</PlaygroundBase>