@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/card"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Card</PageTitle>

<h1>Card</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="card-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Card Variant="Enums.CardVariant.info">
            <SiemensIXBlazor.Components.IconButton Icon="capacity">
            </SiemensIXBlazor.Components.IconButton>
            <SiemensIXBlazor.Components.Typography Bold>
                Number of components
            </SiemensIXBlazor.Components.Typography>
            <SiemensIXBlazor.Components.Typography>
                Item1 <br />
                Item2 <br />
                Item3
            </SiemensIXBlazor.Components.Typography>
            <SiemensIXBlazor.Components.Typography Format="Enums.Typography.TypographyFormat.H1">
                3
            </SiemensIXBlazor.Components.Typography>
        </SiemensIXBlazor.Components.Card>
    </ComponentContent>
</PlaygroundBase>