@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/tile"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Tile</PageTitle>

<h1>Tile</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="tile-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Tile Id="tile-basic" Size="Enums.Tile.TileSize.Medium" Class="mr-1">
            <div slot="header">Tile Header</div>
            <div class="text-l">92.8 °C</div>
        </SiemensIXBlazor.Components.Tile>
    </ComponentContent>
</PlaygroundBase>