@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/toast"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Toast</PageTitle>

<h1>Toast</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="CodeForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Button Id="toast-button" @onclick="HandleShowToast">
            Trigger Toast
        </SiemensIXBlazor.Components.Button>

        <SiemensIXBlazor.Components.Toast @ref="toast"></SiemensIXBlazor.Components.Toast>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="custom-toast-message" ComponentType="Custom toast message" TabId="custom-toast-message" CodeContent="CodeForCustom">
    <ComponentContent>
        <SiemensIXBlazor.Components.Button Id="toastMessageButton" @onclick="HandleShowToastCustomMessage">
            Trigger toast with custom message
        </SiemensIXBlazor.Components.Button>

        <SiemensIXBlazor.Components.Button Id="toastActionButton" @onclick="HandleShowToastActionButton">
            Trigger toast with action button
        </SiemensIXBlazor.Components.Button>

        <SiemensIXBlazor.Components.Toast @ref="toast"></SiemensIXBlazor.Components.Toast>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="position" ComponentType="Position" TabId="position" CodeContent="CodeForPosition">
    <ComponentContent>
        <SiemensIXBlazor.Components.Button Id="toast-button-position" @onclick="HandleShowToastPosition">
            Trigger Toast
        </SiemensIXBlazor.Components.Button>

        <SiemensIXBlazor.Components.Toast @ref="toast" Position="top-right"></SiemensIXBlazor.Components.Toast>
    </ComponentContent>
</PlaygroundBase>

