@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/toggle"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Toggle</PageTitle>

<h1>Toggle</h1>


<PlaygroundBase Id="basic" ComponentType="Basic" TabId="toggle-basic" CodeContent="@CodeContent">
    <ComponentContent>
        <SiemensIXBlazor.Components.Toggle Id="toggle-basic">
        </SiemensIXBlazor.Components.Toggle>
    </ComponentContent>
</PlaygroundBase>