@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/blind"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Blind</PageTitle>

<h1>Blind</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="blind-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Blind Label="Test Blind"
               Id="blind1"
               CollapsedChangedEvent="(value)=>BlindEventHandler(value)">
            Test content
        </SiemensIXBlazor.Components.Blind>
    </ComponentContent>
</PlaygroundBase>

@code{
    public void BlindEventHandler(bool _)
    {
        
    }

}