@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/spinner"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Spinner</PageTitle>

<h1>Spinner</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Spinner id="basic">
            
        </SiemensIXBlazor.Components.Spinner>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="large" ComponentType="Large" TabId="large" CodeContent="@ContentForLarge">
    <ComponentContent>
        <SiemensIXBlazor.Components.Spinner id="large" Size="large">

        </SiemensIXBlazor.Components.Spinner>
    </ComponentContent>
</PlaygroundBase>