@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/pagination"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Pagination</PageTitle>

<h1>Pagination</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Pagination.Pagination Id="basic-pagination" Count="100"></SiemensIXBlazor.Components.Pagination.Pagination>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="advanced" ComponentType="Advanced" TabId="advanced" CodeContent="@ContentForAdvanced">
    <ComponentContent>
        <SiemensIXBlazor.Components.Pagination.Pagination Id="advanced-pagination" Advanced="true" ShowItemCount="true" Count="100"></SiemensIXBlazor.Components.Pagination.Pagination>
    </ComponentContent>
</PlaygroundBase>