@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/select"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Select</PageTitle>

<h1>Select</h1>


<PlaygroundBase Id="basic" ComponentType="Basic" TabId="select-basic" CodeContent="@CodeContent">
    <ComponentContent>
        <SiemensIXBlazor.Components.Select Id="select-basic">
        </SiemensIXBlazor.Components.Select>
    </ComponentContent>
</PlaygroundBase>