@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/iconbutton"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Icon Button</PageTitle>

<h1>Icon Button</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="icon-button-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.IconButton Icon="Info">
        </SiemensIXBlazor.Components.IconButton>

        <SiemensIXBlazor.Components.IconButton Icon="Info" Variant="Enums.Button.ButtonVariant.secondary">
        </SiemensIXBlazor.Components.IconButton>

        <SiemensIXBlazor.Components.IconButton Icon="Info" Variant="Enums.Button.ButtonVariant.danger">
        </SiemensIXBlazor.Components.IconButton>

        <SiemensIXBlazor.Components.IconButton Icon="Info" Outline>
        </SiemensIXBlazor.Components.IconButton>

        <SiemensIXBlazor.Components.IconButton Icon="Info" Ghost>
        </SiemensIXBlazor.Components.IconButton>

        <SiemensIXBlazor.Components.IconButton Icon="Info" Oval=true>
        </SiemensIXBlazor.Components.IconButton>

        <SiemensIXBlazor.Components.IconButton Icon="Info" Variant="Enums.Button.ButtonVariant.secondary" Oval=true>
        </SiemensIXBlazor.Components.IconButton>

        <SiemensIXBlazor.Components.IconButton Icon="Info" Variant="Enums.Button.ButtonVariant.danger" Oval=true>
        </SiemensIXBlazor.Components.IconButton>

        <SiemensIXBlazor.Components.IconButton Icon="Info" Outline Oval=true>
        </SiemensIXBlazor.Components.IconButton>

        <SiemensIXBlazor.Components.IconButton Icon="Info" Ghost Oval=true>
        </SiemensIXBlazor.Components.IconButton>
        
        <SiemensIXBlazor.Components.IconButton Icon="Info" Size="Enums.Button.IconButtonSize._12">
        </SiemensIXBlazor.Components.IconButton>

        <SiemensIXBlazor.Components.IconButton Icon="Info" Size="Enums.Button.IconButtonSize._16">
        </SiemensIXBlazor.Components.IconButton>
        
        <SiemensIXBlazor.Components.IconButton Icon="Info" Size="Enums.Button.IconButtonSize._24">
        </SiemensIXBlazor.Components.IconButton>
    </ComponentContent>
</PlaygroundBase>