@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/flip"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Flip</PageTitle>

<h1>Flip</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="flip-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.FlipTile Id="flip-basic">
            <div slot="header">Flip header</div>
            <div slot="footer">
                <div>Predicted maintenance date</div>
                <div class="d-flex align-items-center">
                    <SiemensIXBlazor.Components.IconButton Icon="info" Size="Enums.Button.IconButtonSize._16">
                        2021-06-22
                    </SiemensIXBlazor.Components.IconButton>
                </div>
            </div>

            <SiemensIXBlazor.Components.FlipTileContent>
                Example 1
            </SiemensIXBlazor.Components.FlipTileContent>
            <SiemensIXBlazor.Components.FlipTileContent>
                Example 2
            </SiemensIXBlazor.Components.FlipTileContent>
        </SiemensIXBlazor.Components.FlipTile>
    </ComponentContent>
</PlaygroundBase>
