@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/datepicker"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Date Picker</PageTitle>

<h1>Date Picker</h1>


<PlaygroundBase Id="basic" ComponentType="Basic" TabId="date-picker-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.DatePicker Id="date-picker-basic"></SiemensIXBlazor.Components.DatePicker>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="date-picker-component" ComponentType="Single Selection" TabId="date-picker-single-selection"
    CodeContent="@ContentForSingleSelection">
    <ComponentContent>
        <SiemensIXBlazor.Components.DatePicker Id="ix-datepicker-single-selection" Format="MM/dd/yyyy" Range="false">
            </SiemensIXBlazor.Components.DatePicker>
    </ComponentContent>
</PlaygroundBase>