@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/linechart"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Line Chart</PageTitle>

<h1>Line Chart</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <div class="echarts">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="basic-chart" @ref="chart1">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="multi-y-axis" ComponentType="Multi-y-axis line charts" TabId="multi-y-axis" CodeContent="@ContentForMultiYAxis">
    <ComponentContent>
        <div class="echarts">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="multi-y-axis-chart" @ref="chart2">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="advanced" ComponentType="Advanced line charts" TabId="advanced" CodeContent="@ContentForAdvanced">
    <ComponentContent>
        <div class="echarts">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="advanced-chart" @ref="chart3">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>
