@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/keyvalue"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Key Value</PageTitle>

<h1>Key Value</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.KeyValue Id="basic-key-value" Label="Label" Value="Value"></SiemensIXBlazor.Components.KeyValue>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="with-custom-value" ComponentType="With custom value" TabId="with-custom-value" CodeContent="@ContentForCustomValue">
    <ComponentContent>
        <SiemensIXBlazor.Components.KeyValue Id="custom-key-value" Label="Label">
            <input class="ix-form-control"
                   placeholder="Enter text here"
                   type="text"
                   slot="custom-value" />
        </SiemensIXBlazor.Components.KeyValue>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="with-icon" ComponentType="With icon" TabId="with-icon" CodeContent="@ContentForWithIcon">
    <ComponentContent>
        <SiemensIXBlazor.Components.KeyValue Icon="location" Label="Label" Value="Value">
        </SiemensIXBlazor.Components.KeyValue>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="label-on-left" ComponentType="With label on left side" TabId="label-on-left" CodeContent="@ContentForLabelOnLeft">
    <ComponentContent>
        <SiemensIXBlazor.Components.KeyValue Id="left-key-value" Label="Label" LabelPosition="left" Value="Value">
        </SiemensIXBlazor.Components.KeyValue>
    </ComponentContent>
</PlaygroundBase>