@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/workflow"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Workflow</PageTitle>

<h1>Workflow</h1>

<PlaygroundBase Id="basic-workflow" ComponentType="Basic" TabId="basic-workflow" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.WorkflowSteps Id="basic-workflow-steps">
            <SiemensIXBlazor.Components.WorkflowStep Id="basic-step-1" Status="Enums.Workflow.WorkflowStatus.Done">
                Step 1
            </SiemensIXBlazor.Components.WorkflowStep>
            <SiemensIXBlazor.Components.WorkflowStep Id="basic-step-2" Status="Enums.Workflow.WorkflowStatus.Success">
                Step 2
            </SiemensIXBlazor.Components.WorkflowStep>
            <SiemensIXBlazor.Components.WorkflowStep Id="basic-step-3" Status="Enums.Workflow.WorkflowStatus.Open">
                Step 3
            </SiemensIXBlazor.Components.WorkflowStep>
            <SiemensIXBlazor.Components.WorkflowStep Id="basic-step-4" Status="Enums.Workflow.WorkflowStatus.Warning">
                Step 4
            </SiemensIXBlazor.Components.WorkflowStep>
            <SiemensIXBlazor.Components.WorkflowStep Id="basic-step-5" Status="Enums.Workflow.WorkflowStatus.Error">
                Step 5
            </SiemensIXBlazor.Components.WorkflowStep>
            <SiemensIXBlazor.Components.WorkflowStep Id="basic-step-6" Disabled="true">
                Step 6
            </SiemensIXBlazor.Components.WorkflowStep>
        </SiemensIXBlazor.Components.WorkflowSteps>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="vertical-workflow" ComponentType="Vertical" TabId="vertical-workflow" CodeContent="@ContentForVertical">
    <ComponentContent>
        <SiemensIXBlazor.Components.WorkflowSteps Id="vertical-workflow-steps" Vertical="true">
            <SiemensIXBlazor.Components.WorkflowStep Id="vertical-step-1" Status="Enums.Workflow.WorkflowStatus.Done">
                Step 1
            </SiemensIXBlazor.Components.WorkflowStep>
            <SiemensIXBlazor.Components.WorkflowStep Id="vertical-step-2" Status="Enums.Workflow.WorkflowStatus.Success">
                Step 2
            </SiemensIXBlazor.Components.WorkflowStep>
            <SiemensIXBlazor.Components.WorkflowStep Id="vertical-step-3" Status="Enums.Workflow.WorkflowStatus.Open">
                Step 3
            </SiemensIXBlazor.Components.WorkflowStep>
            <SiemensIXBlazor.Components.WorkflowStep Id="vertical-step-4" Status="Enums.Workflow.WorkflowStatus.Warning">
                Step 4
            </SiemensIXBlazor.Components.WorkflowStep>
            <SiemensIXBlazor.Components.WorkflowStep Id="vertical-step-5" Status="Enums.Workflow.WorkflowStatus.Error">
                Step 5
            </SiemensIXBlazor.Components.WorkflowStep>
            <SiemensIXBlazor.Components.WorkflowStep Id="vertical-step-6" Disabled="true">
                Step 6
            </SiemensIXBlazor.Components.WorkflowStep>
        </SiemensIXBlazor.Components.WorkflowSteps>
    </ComponentContent>
</PlaygroundBase>