@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/splitbutton"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Split Button</PageTitle>

<h1>Split Button</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="split-button-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.SplitButton Id="split-button-basic" SplitIcon="chevron-down-small" Label="Split Button">
            <SiemensIXBlazor.Components.DropdownItem Id="split-button-basic" Label="Item 1">
            </SiemensIXBlazor.Components.DropdownItem>

            <SiemensIXBlazor.Components.DropdownItem Id="split-button-basic" Label="Item 2">
            </SiemensIXBlazor.Components.DropdownItem>
        </SiemensIXBlazor.Components.SplitButton>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="withIconOnly" ComponentType="With icon only" TabId="icon-only-split-button" CodeContent="@ContentForIconOnly">
    <ComponentContent>
        <SiemensIXBlazor.Components.SplitButton Id="icon-only-split-button" Label="Split Button" SplitIcon="chevron-down-small">
            <SiemensIXBlazor.Components.DropdownItem Id="icon-only-split-button" Icon="Cut">
            </SiemensIXBlazor.Components.DropdownItem>
            
            <SiemensIXBlazor.Components.DropdownItem Id="icon-only-split-button" Icon="Bulb">
            </SiemensIXBlazor.Components.DropdownItem>
        </SiemensIXBlazor.Components.SplitButton>
    </ComponentContent>
</PlaygroundBase>