@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/categoryfilter"
@using SiemensIXBlazor.Components;
@using SiemensIXBlazor.Components.CategoryFilter;
@using SiemensIXBlazor.Playground.Shared.CodeHighlighter;
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Category Filter</PageTitle>

<h1>Category Filter</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="category-filter-basic" CodeContent="@Content">
    <ComponentContent>
        <SiemensIXBlazor.Components.CategoryFilter.CategoryFilter Id="category-filter-basic">
        </SiemensIXBlazor.Components.CategoryFilter.CategoryFilter>
    </ComponentContent>
</PlaygroundBase>


