@page "/"
@using SiemensIXBlazor.Components
@using SiemensIXBlazor.Elements;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Blind Label="demo" Content="loremmm" Id="blind1" CollapsedChangedEvent="(value) => BlindEventHandler(value)" />
<Breadcrumb Id="Brd1" Elements="@breadcrumbElements" ItemClicked="(label) => BreadcrumbEventHandler(label)"></Breadcrumb>
<Button Label="Test button"></Button>
<IconButton Icon="info"></IconButton>
<Checkbox Id="testcbx" Label="Test Cbx" OnChangeEvent="(value) => CbxOnChanged(value)"></Checkbox>
<Chip Icon="print" Label="Chip with icon" Id="chip1" Closable="true" ClosedEvent="@ChipClosedEventHandler"></Chip>
<DatePicker From="2023/02/01" To="2023/02/15" Id="timepicker1" DateChangeEvent="(date) => DateChangeEventTest(date)"></DatePicker>
<DateTimePicker 
    DateChangeEvent="(date) => DateChangeEventTest(date)" 
    From="2023/02/01" 
    To="2023/02/15" 
    Id="datetimepicker1"
    TimeChangeEvent="(date) => DateChangeEventTest(date)"></DateTimePicker>

<Drawer>
    <span>Some content of drawer</span>
</Drawer>

@code {
    List<BreadcrumbElement> breadcrumbElements = new()
    {
        new BreadcrumbElement()
        {
            Label = "item1"
        },
        new BreadcrumbElement()
        {
            Label = "item2"
        },
        new BreadcrumbElement()
        {
            Label = "item3"
        }
    };

    private void BlindEventHandler(bool value)
    {
        Console.WriteLine(value);
    }

    private void BreadcrumbEventHandler(string label)
    {
        Console.WriteLine(label);
    }

    private void CbxOnChanged(bool value)
    {
        Console.WriteLine(value);
    }

    private void ChipClosedEventHandler()
    {
        Console.WriteLine("chip closed event");
    }

    private void DateChangeEventTest(string date)
    {
        Console.WriteLine(date);
    }
}