@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<SiemensIXBlazor.Component1></SiemensIXBlazor.Component1>
<SiemensIXBlazor.Components.Blind Label="demo" Content="loremmm" Id="blind1" CollapsedChangedEvent="(value) => BlindEventHandler(value)" />

@code {
    private void BlindEventHandler(bool value)
    {
        Console.WriteLine(value);
    }
}