@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/messagebar"

@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Message Bar</PageTitle>

<h1>Message Bar</h1>

<PlaygroundBase Id="basics" ComponentType="Basics" TabId="basic" CodeContent="@ContentForBasics">

    <ComponentContent>
  <SiemensIXBlazor.Playground.Components.Pages.SystemFeedbackAndStatus.MessageBar.Types.MessageBarType>

  </SiemensIXBlazor.Playground.Components.Pages.SystemFeedbackAndStatus.MessageBar.Types.MessageBarType>

    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="dismissible" ComponentType="Dismissible" TabId="dismissible" CodeContent="@ContentForDismissible">

    <ComponentContent>
        <div class="message-bar">
            @if (messageBarVisible)
            {
                <SiemensIXBlazor.Components.MessageBar Id="info-messagebar" Variant="Enums.MessageBar.MessageBarType.info" Dismissible="false" ClosedChangeEvent="HandleCloseAnimationCompleted"  >
                    Message Text
                </SiemensIXBlazor.Components.MessageBar>
            }
            @if (!messageBarVisible)
            {
                <SiemensIXBlazor.Components.Button Id="action-button2" ClickEvent="HandleShowMessage">
                    Show message bar
                </SiemensIXBlazor.Components.Button>
            }
        </div>
    </ComponentContent>
</PlaygroundBase>
