@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/gaugechart"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Gauge Chart</PageTitle>

<h1>Gauge Chart</h1>

<PlaygroundBase Id="metric-gauge" ComponentType="Metric gauge charts" TabId="metric-gauge" CodeContent="@ContentForMetricGauge">
    <ComponentContent>
        <div class="gauge-chart">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="metric-gauge-chart" @ref="metricGaugeChart">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="circle-gauge" ComponentType="Circle gauge charts" TabId="circle-gauge" CodeContent="@ContentForCircleGauge">
    <ComponentContent>
        <div class="gauge-chart">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="circle-gauge-chart" @ref="circleGaugeChart">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="arc-gauge" ComponentType="Arc gauge charts" TabId="arc-gauge" CodeContent="@ContentForArcGauge">
    <ComponentContent>
        <div class="gauge-chart">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="arc-gauge-chart" @ref="arcGaugeChart">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>