@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/tree"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Tree</PageTitle>

<h1>Tree</h1>

<PlaygroundBase Id="basic-tree" ComponentType="Basic" TabId="basic-tree" CodeContent="@ContentForBasic">
    <ComponentContent>
        <div class="tree-style">
            <SiemensIXBlazor.Components.Tree.Tree Root="root" Id="tree" @ref="treeComponent"></SiemensIXBlazor.Components.Tree.Tree>
        </div>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="custom-tree-node" ComponentType="Custom tree node" TabId="custom-tree-node" CodeContent="@ContentForCustomTreeNode">
    <ComponentContent>
        <div class="tree-style">
            <SiemensIXBlazor.Components.Button Id="expand-button" Ghost="true" @onclick="HandleExpandButton">
                Expand Button
            </SiemensIXBlazor.Components.Button>
            <SiemensIXBlazor.Components.Tree.Tree Root="root" Id="custom-tree" @ref="treeComponentforCustom"></SiemensIXBlazor.Components.Tree.Tree>
        </div>
    </ComponentContent>
</PlaygroundBase>