@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/emptystate"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;
<!--@using SiemensIXBlazor.Components;-->

<PageTitle>Empty State</PageTitle>

<h1>Empty State</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.EmptyState Id="empty-state-basic" Header="No Elements available" SubHeader="Create an element first" Icon="add" Action="Create an element" >
        </SiemensIXBlazor.Components.EmptyState>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="compact" ComponentType="Compact" TabId="compact" CodeContent="@ContentForCompact">
    <ComponentContent>
        <SiemensIXBlazor.Components.EmptyState Id="empty-state-compact" Header="No Elements available" SubHeader="Create an element first" Icon="add" Action="Create an element" Layout="compact">
        </SiemensIXBlazor.Components.EmptyState>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="compact-break" ComponentType="Compact break" TabId="compact-break" CodeContent="@ContentForCompactBreak">
    <ComponentContent>
        <SiemensIXBlazor.Components.EmptyState Id="empty-state-compact-break" Header="No Elements available" SubHeader="Create an element first" Icon="add" Action="Create an element" Layout="compactBreak">
        </SiemensIXBlazor.Components.EmptyState>
    </ComponentContent>
</PlaygroundBase>