@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/chartoverview"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Chart Overview</PageTitle>

<h1>Chart Overview</h1>

<PlaygroundBase Id="colors" ComponentType="Colors" TabId="Colors" CodeContent="@ContentForColors">
    <ComponentContent>
        <div class="overview-charts">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="color-chart" @ref="colorchart">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="empty-states" ComponentType="Empty states" TabId="empty-states" CodeContent="@ContentForEmptyStates">
    <ComponentContent>
        <div class="my-chart-container">

            @if (isLoading)
            {
                <div class="component-loading-overlay">
                    <div class="loading-text">
                        <span class="spinner"></span>
                        Loading...
                    </div>
                </div>
            }

            @if (showOverlay)
            {
                <div id="empty-state-container" class="empty-state-container">
                    <SiemensIXBlazor.Components.EmptyState Id="empty-state"
                                                           Class="empty-state"
                                                           Header="No elements available"
                                                           SubHeader="Failed to retrieve data"
                                                           Icon="info"
                                                           Action="Try Again"
                                                           ActionClickedEvent="LoadData"/>
                </div>
            }

            <SiemensIXBlazor.Components.ECharts.ECharts Id="empty-states-chart" @ref="emptyStateChart" />
        </div>
    </ComponentContent>
</PlaygroundBase>