@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/slider"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Slider</PageTitle>

<h1>Slider</h1>


<PlaygroundBase Id="basic" ComponentType="Basic" TabId="slider-basic" CodeContent="@CodeContent">
    <ComponentContent>
        <SiemensIXBlazor.Components.Slider.Slider Id="slider-basic">
        </SiemensIXBlazor.Components.Slider.Slider>
    </ComponentContent>
</PlaygroundBase>