@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/eventlist"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Event List</PageTitle>

<h1>Event List</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="event-list-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.EventList Id="event-list-basic">
            <SiemensIXBlazor.Components.EventListItem Id="event-list-item-1" 
                ItemClickEvent="(label) => DropdownButtonClicked(true)">
                Item1
            </SiemensIXBlazor.Components.EventListItem>
            <SiemensIXBlazor.Components.EventListItem Id="event-list-item-2" 
                ItemClickEvent="(label) => DropdownButtonClicked(false)">
                Item2
            </SiemensIXBlazor.Components.EventListItem>
            <SiemensIXBlazor.Components.EventListItem Id="event-list-item-3" 
                ItemClickEvent="(label) => DropdownButtonClicked(false)">
                Item3
            </SiemensIXBlazor.Components.EventListItem>
        </SiemensIXBlazor.Components.EventList>
    </ComponentContent>
</PlaygroundBase>

@code{
    public void DropdownButtonClicked(bool _){}
}
