@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/cardlist"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Card List</PageTitle>

<h1>Card List</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="card-list-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.CardList Id="card-list-basic" Label="Stack Layout" ShowAllCount="12"
            ListStyle="Enums.CardList.CardListStyle.Stack" CollapseChangedEvent="CardListCollapsedChanged"
            ShowAllClickEvent="CardListShowAllClicked" ShowMoreCardClickEvent="CardListShowMoreClicked">

                <SiemensIXBlazor.Components.PushCard Icon="rocket" Notification="3" Heading="Heading Content"
                SubHeading="Subheading" Variant="Enums.PushCard.PushCardVariant.outline">
                </SiemensIXBlazor.Components.PushCard>
                
                <SiemensIXBlazor.Components.PushCard Icon="bulb" Notification="1" Heading="Heading Content"
                SubHeading="Subheading" Variant="Enums.PushCard.PushCardVariant.warning">
                </SiemensIXBlazor.Components.PushCard>
                
                <SiemensIXBlazor.Components.PushCard Icon="rocket" Notification="3" Heading="Heading Content"
                SubHeading="Subheading" Variant="Enums.PushCard.PushCardVariant.success">
                </SiemensIXBlazor.Components.PushCard>

        </SiemensIXBlazor.Components.CardList>
    </ComponentContent>
</PlaygroundBase>

@code{
    public void CardListCollapsedChanged(){}
    public void CardListShowAllClicked(){}
    public void CardListShowMoreClicked() { }
}
