@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/settings"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Application Id="application">
            <SiemensIXBlazor.Components.ApplicationHeader Id="application-header">
                <div class="placeholder-logo" slot="logo"></div>
            </SiemensIXBlazor.Components.ApplicationHeader>
            <SiemensIXBlazor.Components.Menu.Menu Id="settings-menu" @onclick="HandleToggleSettings">
                <SiemensIXBlazor.Components.MenuSettings.MenuSettings Id="menu-settings" @ref="menuSettings">
                    <SiemensIXBlazor.Components.MenuSettings.MenuSettingsItem  Label="Example Setting 1"></SiemensIXBlazor.Components.MenuSettings.MenuSettingsItem>
                    <SiemensIXBlazor.Components.MenuSettings.MenuSettingsItem  Label="Example Setting 2"></SiemensIXBlazor.Components.MenuSettings.MenuSettingsItem>
                </SiemensIXBlazor.Components.MenuSettings.MenuSettings>
            </SiemensIXBlazor.Components.Menu.Menu>
        </SiemensIXBlazor.Components.Application>
    </ComponentContent>
</PlaygroundBase>
