@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/drawer"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Drawer</PageTitle>

<h1>Drawer</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="drawer-basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Button ClickEvent="DrawerButtonClicked">
            Drawer Button
        </SiemensIXBlazor.Components.Button>
        <SiemensIXBlazor.Components.Drawer Id="drawer-basic" @ref="drawer1">
            <span>Some content of drawer</span>
        </SiemensIXBlazor.Components.Drawer>
    </ComponentContent>
</PlaygroundBase>