@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/barchart"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Bar Chart</PageTitle>

<h1>Bar Chart</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <div class="barchart">
            
            <SiemensIXBlazor.Components.ECharts.ECharts Id="basic-bar-chart" @ref="basicbarchart">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="stacked-bar-chart" ComponentType="Stacked bar chart" TabId="stacked-bar-chart" CodeContent="@ContentForStackedBarChart">
    <ComponentContent>
        <div class="barchart">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="stacked-bar-chart-item" @ref="stackedbarchart">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>