@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/threedchart"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;

<PageTitle>Three D Chart</PageTitle>

<h1>Three D Chart</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="ContentForBasic">
    <ComponentContent>
        <div class="tree-d-chart">
            <SiemensIXBlazor.Components.ECharts.ECharts Id="basic-tree-d-chart" @ref="treeDChart">

            </SiemensIXBlazor.Components.ECharts.ECharts>
        </div>
    </ComponentContent>
</PlaygroundBase>
