@* -----------------------------------------------------------------------
// SPDX-FileCopyrightText: 2025 Siemens AG
//
// SPDX-License-Identifier: MIT
//
// This source code is licensed under the MIT license found in the
// LICENSE file in the root directory of this source tree.
// ----------------------------------------------------------------------- *@

@page "/breadcrumb"
@using SiemensIXBlazor.Playground.Shared.PlaygroundBase;


<PageTitle>Breadcrumb</PageTitle>

<h1>Breadcrumb</h1>

<PlaygroundBase Id="basic" ComponentType="Basic" TabId="basic" CodeContent="@ContentForBasic">
    <ComponentContent>
        <SiemensIXBlazor.Components.Breadcrumb Id="basic-breadcrumb">
            <SiemensIXBlazor.Components.BreadcrumbItem Id="basic-breadcrumb-item-1" Label="Item 1">
            </SiemensIXBlazor.Components.BreadcrumbItem>
            <SiemensIXBlazor.Components.BreadcrumbItem Id="basic-breadcrumb-item-2" Label="Item 2">
            </SiemensIXBlazor.Components.BreadcrumbItem>
            <SiemensIXBlazor.Components.BreadcrumbItem Id="basic-breadcrumb-item-3" Label="Item 3">
            </SiemensIXBlazor.Components.BreadcrumbItem>
        </SiemensIXBlazor.Components.Breadcrumb> 
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="truncate" ComponentType="Truncate" TabId="truncate" CodeContent="@ContentForTruncate">
    <ComponentContent>
        <SiemensIXBlazor.Components.Breadcrumb Id="truncate-breadcrumb" VisibleItemCount=3>
            <SiemensIXBlazor.Components.BreadcrumbItem Id="truncate-breadcrumb-item-1" Label="Item 1"></SiemensIXBlazor.Components.BreadcrumbItem>
            <SiemensIXBlazor.Components.BreadcrumbItem Id="truncate-breadcrumb-item-2" Label="Item 2"></SiemensIXBlazor.Components.BreadcrumbItem>
            <SiemensIXBlazor.Components.BreadcrumbItem Id="truncate-breadcrumb-item-3" Label="Item 3"></SiemensIXBlazor.Components.BreadcrumbItem>
            <SiemensIXBlazor.Components.BreadcrumbItem Id="truncate-breadcrumb-item-4" Label="Item 4"></SiemensIXBlazor.Components.BreadcrumbItem>
            <SiemensIXBlazor.Components.BreadcrumbItem Id="truncate-breadcrumb-item-5" Label="Item 5"></SiemensIXBlazor.Components.BreadcrumbItem>
        </SiemensIXBlazor.Components.Breadcrumb>
    </ComponentContent>
</PlaygroundBase>

<PlaygroundBase Id="lazy-loaded-next-items" ComponentType="Lazy loaded next items" TabId="lazy-loaded-next-items" CodeContent="ContentForLazyLoadedNextItems">
    <ComponentContent>
        <SiemensIXBlazor.Components.Breadcrumb Id="lazy-loaded-next-item-breadcrumb" NextItems="@NextItems" ItemClicked="SetNextItem">
            <SiemensIXBlazor.Components.BreadcrumbItem Id="basic-breadcrumb-item-1" Label="Item 1">
            </SiemensIXBlazor.Components.BreadcrumbItem>
            <SiemensIXBlazor.Components.BreadcrumbItem Id="basic-breadcrumb-item-2" Label="Item 2">
            </SiemensIXBlazor.Components.BreadcrumbItem>
            <SiemensIXBlazor.Components.BreadcrumbItem Id="basic-breadcrumb-item-3" Label="Item 3">
            </SiemensIXBlazor.Components.BreadcrumbItem>
        </SiemensIXBlazor.Components.Breadcrumb>
    </ComponentContent>
</PlaygroundBase>